// Menu wrapper
.menu-items {
    width: 250px;

    .menu-item {
        margin-left: 0;
        font-size: 1.6rem;
        height: 42px;
        width: 100%;
    }
}

.menu-popper {
    padding-bottom: 8px;
}

// Menu item
.menu-item {
    justify-content: flex-start;
    font-weight: 500;
    padding: 11px 16px;
    line-height: 1.8rem;

    &:hover {
        background: rgba(255, 255, 255, 0.04);
    }
}

// Header
.header {
    position: relative;
    height: 50px;
    margin-top: -8px;
}
.back-btn {
    width: 50px;
    height: 100%;
    background: transparent;
    cursor: pointer;
    color: var(--text-color);
}
.header-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: var(--text-color);
}
