.wrapper {
    width: 100%;
    max-height: min(-156px + 100vh, 760px);
    background: rgb(37, 37, 37);
    border-radius: 8px;
    min-height: 100px;
    color: var(--text-color-light);
    padding: 8px;
}
